@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  color: black;
  font-size: 50px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
}
